/* hind-siliguri-regular - bengali_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/hind-siliguri-v12-bengali_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* hind-siliguri-500 - bengali_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/hind-siliguri-v12-bengali_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* hind-siliguri-600 - bengali_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/hind-siliguri-v12-bengali_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* hind-siliguri-700 - bengali_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/hind-siliguri-v12-bengali_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }